.curves-list-container {
  display: flex;
  flex-wrap: wrap;
}

.curves-list {
  width: 130px;
  margin-bottom: 10px;
}

@media (min-width: 375px) {
  .curves-list {
    width: 140px;
  }
}

@media (min-width: 992px) {
  .curves-list {
    width: 175px;
  }
}

.curves-list__title,
.hashes-list__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.curve-data td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed grey;
}

.curve-data__key {
  font-weight: bold;
  padding-right: 10px;
}

.curve-data__header {
  margin-bottom: 10px;
  margin-top: 0;
}

.curve-data__table {
  margin-bottom: 20px;
}

.text-input {
  font-size: 15px;
  padding: 1px 3px;
  width: 100%;
  max-width: 100%;
}

.button {
  cursor: pointer;
  border-color: #0092bf;
  border-width: 2px;
  font-size: 14.5px;
}

.ecc-radio {
  margin-bottom: 5px;
}

.ecc-calculator-container { margin-top: 1rem; }
.curve-selector { padding-right: 1rem; }
.curve-selector > label { padding-left: 0.25rem; }
.curve-data code { line-break: anywhere; }
.curve-data td:first-child { width: 5rem; }
.noscript { text-align: center; }
.noscript p { margin: 0.5rem 0; }
