.hy {
  margin-top: 2rem;
}
blockquote {
  background-color: #fef5f6;
  border-left: 1rem solid #f4364c;
  margin: 2rem 0;
  padding: 2rem 2rem 0.5rem 2rem;
  quotes: "“" "”" "“" "”";
}
blockquote::before {
  color: #f4364c;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.centered {
  text-align: center;
}
.logo-img {
  border-radius: 2rem;
  max-width: 100%;
}
h2 {
  max-width: 100%;
  margin: 0 auto;
}

body {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #ddd;
  }

  blockquote {
    background-color: #090909;
  }

  .definition::before {
    color: #333;
  }
}
