---
layout: base
---

<article>
  <content>
    <h2>{{ page.title }}</h2>
    <section class="post-content">{{ content }}</section>
    <div id="noble-demos"></div>
  </content>
</article>

<!-- noble demos -->
<script src="../media/noble/main.js"></script>
<link rel="stylesheet" href="../media/noble/main.css" />

<!-- nobleCiphers, nobleCurves, nobleHashes global variables to be able to mess around -->
<script async src="../media/noble/noble-ciphers.js"></script>
<script async src="../media/noble/noble-curves.js"></script>
<script async src="../media/noble/noble-hashes.js"></script>
